<section class="mainbar" data-ng-controller="clients as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="form-search">
					<input class="input-sm search-query" data-ng-model="vm.clientSearch" data-ng-keyup="vm.search($event)" placeholder="Client search..." />
					<div class="btn-group pull-right">
						<a class="btn btn-info" data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i> Refresh</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="widget worange">
					<div data-cc-widget-header title="{{vm.title}}" subtitle="{{vm.filteredClients.length}} / {{vm.clients.length}}"></div>
					<div class="widget-content user">
						<div class="padd" data-ng-repeat="c in vm.filteredClients">
							<div class="user-details">
								<div class="pull-left">
									<h3>{{c.name}}</h3>
									<h6>{{c.alias}}</h6>
									<small class="text-subtle">{{c.billingEmail}}</small>
								</div>
								<div class="pull-right hidden-xs">
									<small class="right">{{c.address1}}</small>
									<small class="right">{{c.address2}}</small>
									<small class="right">{{c.city}}, {{c.state}} {{c.postalcode}}</small>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
