<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="today-datas">
						<li class="bviolet">
							<div class="pull-left"><i class="fa fa-plane"></i></div>
							<div class="datas-text pull-right">
								<span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
							</div>
							<div class="clearfix"></div>
						</li>

						<li class="blightblue">
							<a href="#/invoices">
								<div class="pull-left"><i class="fa fa-file-text-o"></i></div>
								<div class="datas-text pull-right">
									<span class="bold">{{vm.invoiceCount}}</span> Invoices
								</div>
								<div class="clearfix"></div>
							</a>
						</li>

						<li class="borange">
							<a href="#/clients">
								<div class="pull-left"><i class="fa fa-group"></i></div>
								<div class="datas-text pull-right">
									<span class="bold">{{vm.clientCount}}</span> Clients
								</div>
								<div class="clearfix"></div>
							</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="widget wviolet">
						<div data-cc-widget-header title="{{vm.content.title}}"
							 allow-collapse="true"></div>
						<div class="widget-content text-center text-info">
							<table class="table table-condensed table-striped">
								<thead>
									<tr>
										<th><a data-ng-click="vm.content.setContentSort('id')" href="">Invoice</a></th>
										<th><a data-ng-click="vm.content.setContentSort('client.name')" href="">Client</a></th>
										<th><a data-ng-click="vm.content.setContentSort('total')" href="">Total</a></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="i in vm.content.invoices | orderBy:vm.content.predicate:vm.content.reverse">
										<td>{{i.id}}</td>
										<td>{{i.client.name}}</td>
										<td>${{i.total | number:2}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="widget-foot">
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="widget wgreen">
						<div data-cc-widget-header title="{{vm.news.title}}"
							 allow-collapse="true"></div>
						<div class="widget-content text-center text-info">
							<small>{{vm.news.description}}</small>
						</div>
						<div class="widget-foot">
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>