<section class="mainbar" data-ng-controller="invoices as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="form-search">
					<input class="input-sm search-query" data-ng-model="vm.invoicesSearch" data-ng-keyup="vm.search($event)" placeholder="Filter client or invoice #" />
					<div class="btn-group pull-right">
						<a class="btn btn-info" data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i> Refresh</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="widget wlightblue">
					<div data-cc-widget-header title="{{vm.title}}" subtitle="{{vm.filteredInvoices.length}} / {{vm.invoices.length}}"></div>
					<div class="widget-content user">
						<div class="padd" data-ng-repeat="i in vm.filteredInvoices">
							<div class="user-details">
								<h3>{{i.id}}</h3>
								<h6>{{i.client.name}}</h6>
								<h6>{{i.date}}</h6>
							</div>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
