<section class="mainbar" data-ng-controller="invoicedetail as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back</button>
				<button class="btn btn-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave"><i class="fa fa-undo"></i>Cancel</button>
				<button class="btn btn-info" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave"><i class="fa fa-save"></i>Save</button>
				<span data-ng-show="vm.hasChanges" class="dissolve-animation ng-hide"><i class="fa fa-asterisk"></i></span>
			</div>
			<div class="row">
				<div class="widget wlightblue">
					<div data-cc-widget-header title="{{vm.getTitle()}}">
					</div>
					<div class="widget-content invoice">
						<div class="invoice-details">
							<h3>{{vm.invoice.id}}</h3>
							<h6>{{vm.invoice.client.name}}</h6>
							<h6>{{vm.invoice.formattedDate}}</h6>
							<div class="form-inline" data-ng-repeat="li in vm.invoice.lineItems">
								<div class="form-group">
									<input class="form-control" data-ng-model="li.lineItemDescription.description" /><input class="form-control" data-ng-model="li.quantity" /><input class="form-control" data-ng-model="li.unitPrice" />
								</div>
							</div>
							<h6>{{vm.invoice.total}} :: {{vm.invoice.totalPayments}}</h6>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
