<section class="mainbar" data-ng-controller="invoices as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="form-search">
					<input class="input-sm search-query" data-ng-model="vm.invoicesSearch" data-ng-keyup="vm.search($event)" placeholder="Filter client or invoice #" />
					<div class="btn-group pull-right">
						<a class="btn btn-info" data-ng-click="vm.refresh()"><i class="fa fa-refresh"></i> Refresh</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="widget wlightblue">
					<div data-cc-widget-header title="{{vm.title}}"
						 subtitle="{{vm.invoiceFilteredCount}} / {{vm.invoiceCount}}"
						 right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}">
					</div>
					<div class="widget-content invoice">
						<div class="padd" data-ng-repeat="i in vm.invoices" data-ng-click="vm.gotoInvoice(i)">
							<div class="invoice-details" title="Go to invoice">
								<h3>{{i.id}}</h3>
								<h6>{{i.client.name}}</h6>
								<h6>{{i.formattedDate}}</h6>
								<h6>{{i.total}} :: {{i.totalPayments}}</h6>
							</div>
						</div>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
						<pagination boundary-links="true"
									ng-model="vm.paging.currentPage"
									ng-change="vm.pageChanged(vm.paging.currentPage)"
									total-items="vm.invoiceFilteredCount"
									items-per-page="vm.paging.pageSize"
									page="vm.paging.currentPage"
									max-size="vm.paging.maxPagesToShow"
									class="pagination"
									previous-text="Prev"
									next-text="Next"
									first-text="First"
									last-text="Last">
						</pagination>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
